<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{ADMIN}">
<head>
  <th:block th:replace="layout::link-css"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{css/base.css}">
  <link th:fragment="link-css" rel="stylesheet" th:href="@{css/main.css}">
  <title>Spurgeon</title>

</head>

<body>
<th:block th:replace="layout::header"></th:block>

<div layout:fragment="content" style="margin: 110px">

  <div class="container">
    <div class="row">
      <div  th:each="blog : ${blog}" class="col-9 col-md-9">
        <div class="thumbnail" style="border: 1px solid #ccc; display:flex; justify-content:center; border-radius:6px">
          <img  style="max-width: 100%; height: auto" th:src="@{/images/} + ${blog.image}">
        </div>
        <div class="caption" style="margin-top: 10px">

          <strong>Title: </strong><div th:text="${blog.title}"></div>

        </div>
        <strong>Description:</strong> </strong><div th:text="${blog.describe}"></div>
        <strong>Author:</strong> </strong><div th:text="${blog.author}"></div>
        <strong>Date:</strong> </strong><div th:text="${blog.createDate}"></div>
        <strong>URl:</strong> </strong><div th:text="${blog.url}"></div>

        <p style="margin: 20px 0px">
          <a th:href="@{/admin/blog}" class="btn btn-primary" >Back</a>
        </p>


      </div>

    </div>
<th:block th:replace="layout :: footer"></th:block>
</div>
</body>
</html>