<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout}">
<head>
  <meta charset="UTF-8">
  <title>FI</title>
  <th:block th:replace="layout::link-css"></th:block>

</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div layout:fragment="content">

  <section id="content" class="s-content"><!-- hero -->
    <div class="hero">

      <div class="hero__slider swiper-container">

        <div class="swiper-wrapper">
          <article class="hero__slide swiper-slide">
            <div class="hero__entry-image"><iframe width="760" height="1015" src="https://www.youtube.com/embed/uh8YBmFaB3o?loop=1&autoplay=1&mute=1&playlist=uh8YBmFaB3o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            <div class="hero__entry-text">
              <div class="hero__entry-text-inner">
                <div class="hero__entry-meta">
                                        <span class="cat-links">
                                            <a href="category.html">Yves Saint Laurent</a>
                                        </span>
                </div>
                <h2 class="hero__entry-title">
                  <a href="single-standard.html">
                    She is the future Saint Laurent Girl.
                  </a>
                </h2>
                <p class="hero__entry-desc">
                  She is the future Saint Laurent Girl. That’s because of the way she lives, leads fashion, and is free in public. She is the representative of modern society,” Anthony Vaccarello, who chose Rosé as Saint Laurent’s global ambassador, explained.
                </p>
                <a class="hero__more-link" href="single-standard.html">Read More</a>
              </div>
            </div>
          </article>
          <article class="hero__slide swiper-slide">
            <div class="hero__entry-image">
              <iframe width="760" height="1015" src="https://www.youtube.com/embed/eblAcAObqYw?loop=1&autoplay=1&mute=1&playlist=eblAcAObqYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="hero__entry-text">
              <div class="hero__entry-text-inner">
                <div class="hero__entry-meta">
                                        <span class="cat-links">
                                            <a href="category.html">céline</a>
                                        </span>
                </div>
                <h2 class="hero__entry-title">
                  <a href="single-standard.html">
                    The “EARTHQUAKE” of HEDI and the THAI MUSE
                  </a>
                </h2>
                <p class="hero__entry-desc">
                  Lisa is the first person to be awarded this prestigious title in the 75-year history of Celine since its establishment. Prior to that, Celine had never had the title of “ambassador” (house ambassador).
                </p>
                <a class="hero__more-link" href="single-standard.html">Read More</a>
              </div>
            </div>
          </article>
          <article class="hero__slide swiper-slide">
            <div class="hero__entry-image">
              <iframe width="760" height="1015" src="https://www.youtube.com/embed/MRkCYR_JwSQ?loop=1&autoplay=1&mute=1&playlist=MRkCYR_JwSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="hero__entry-text">
              <div class="hero__entry-text-inner">
                <div class="hero__entry-meta">
                                        <span class="cat-links">
                                            <a href="category.html">chanel</a>
                                        </span>
                </div>
                <h2 class="hero__entry-title">
                  <a href="single-standard.html">
                    Jennie and the appeal of global ambassadors
                  </a>
                </h2>
                <p class="hero__entry-desc">
                  Here is the translation of the paragraph you provided: “Trendnie Kim” won the hearts of the public thanks to two contrasting images. On stage, she exudes the radiance of a young lady that makes others envious, easily “weighing” every outfit with her sharp beauty and elegant demeanor
                </p>
                <a class="hero__more-link" href="single-standard.html">Read More</a>
              </div>
            </div>
          </article>
          <article class="hero__slide swiper-slide">
            <div class="hero__entry-image">
              <iframe width="760" height="1015" src="https://www.youtube.com/embed/ESwXTgVl3hc?loop=1&autoplay=1&mute=1&playlist=ESwXTgVl3hc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="hero__entry-text">
              <div class="hero__entry-text-inner">
                <div class="hero__entry-meta">
                                        <span class="cat-links">
                                            <a href="category.html">DIOR</a>
                                        </span>
                </div>
                <h2 class="hero__entry-title">
                  <a href="single-standard.html">
                    “Dior CEO opens up about winning back Jisoo”
                  </a>
                </h2>
                <p class="hero__entry-desc">
                  Recently at Fashion Week 2022, Jisoo had a conversation with Dior’s CEO Pietro Beccari. The CEO sent a reminder to the staff accompanying Jisoo that if YG fired her, they should text him and he would bring her back.
                </p>
                <a class="hero__more-link" href="single-standard.html">Read More</a>
              </div>
            </div>
          </article>
        </div> <!-- swiper-wrapper -->

        <div class="swiper-pagination"></div>

      </div> <!-- end hero slider -->

      <a href="#bricks" class="hero__scroll-down smoothscroll">
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.25 6.75L4.75 12L10.25 17.25"></path>
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 12H5"></path>
        </svg>
        <span>Scroll</span>
      </a>

    </div> <!-- end hero -->
    <!--  masonry -->
    <div id="bricks" class="bricks">

      <div class="masonry">

        <div class="bricks-wrapper" data-animate-block>

          <div class="grid-sizer"></div>

          <div th:each="blog, iterStat : ${index}" class="brick entry" data-animate-el th:if="${iterStat.count} &lt;= 6">
            <div class="entry__thumb">
              <a href="single-standard.html" class="thumb-link">
                <img th:src="@{/images/} + ${blog.image}" alt="">
              </a>
            </div> <!-- end entry__thumb -->

            <div class="entry__text">
              <div class="entry__header">
                <div class="entry__meta">
                <span class="cat-links">
                    <div>Author</div>
                </span>
                  <span class="byline">
                    <div th:text="${blog.Author}"></div>
                </span>
                </div>
                <h1 class="entry__title">
                  <div th:text="${blog.Title}"></div>
                </h1>
              </div>
              <div class="entry__excerpt">
                <p th:text="${blog.Describe}"></p>
              </div>
              <a class="entry__more-link" th:href="${blog.url}">Read More</a>
            </div> <!-- end entry__text -->
          </div>



        </div> <!-- end bricks-wrapper -->

      </div> <!-- end masonry-->



    </div> <!-- end bricks -->
  </section> <!-- end s-content -->
  <!-- pagination -->
  <div class="row pagination">
    <div class="column lg-12">
      <div th:if="${totalPages > 1}">
        <div class="row col-sm-10" style="margin: 20px;display: flex; justify-content:center; align-items: center;">
          <div class="col-sm-2" style="margin: 0px 20px">Total Rows: [[${totalItems}]]</div>
          <div class="col-sm-1" style="margin: 0px 10px">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               class="btn btn-primary">Next</a>
            <span class="btn btn-primary" th:unless="${currentPage < totalPages}">Next</span>
          </div>

          <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
                      <a
                              th:if="${currentPage != i}"
                              th:href="@{'/page/'+${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span class="btn btn-primary" th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
          </div>
          <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}" class="btn btn-primary">Last</a>
            <span th:unless="${currentPage < totalPages}" class="btn btn-primary">Last</span>
          </div>
        </div>
      </div>
    </div> <!-- end column -->
  </div> <!-- end pagination -->

</div>

<th:block th:replace="layout :: footer"></th:block>
</body>
</html>